table {
  
  border: 2px solid rgb(20, 74, 181);
}

.inputField {
  margin-top: 20;
  margin-bottom: 20;
  display: "block";
}

.ActionMenu {
  position: relative;
  top: 10px;
}

.ResultMenu {
  position: relative;
  top: 50px;
}
